<div class="container">
  <div class="row">
    <h1>Music Player™️</h1>
  </div>

  <div class="row" *ngIf="currentTrack != null">
    <div class="col">
      <div class="lead">Now Playing: {{ currentTrack.title }}</div>
    </div>
  </div>
  <div class="row" *ngIf="currentTrack != null">
    <div class="col-auto">
      <audio class="border border-dark my-1"controls autoplay src="{{ currentTrack.preview }}"></audio>
    </div>
  </div>

  <div class="row">
    <!-- Make a card for each track -->
    <div class="col-auto" *ngFor="let track of tracks; let i = index">
      <div class="card my-2" style="width: 14rem">
        <img
          src="{{ track.album.cover }}"
          class="card-img-top"
          id="track-img"
        />

        <div class="card-body">
          <h5 class="card-title text-center">{{ track.title }}</h5>
          <p class="card-text">
            {{ track.release_date.substring(0, 4) }}
            <br />
            {{ track.artist.name }}
            <br />
            {{ track.duration | minute }}
          </p>

          <button (click)="setTrack(i)" class="btn btn-primary">
            Play Preview
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
